<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">C:/temp/logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="fileLogger"
                     fileName="logs/HomeServer.log"
                     filePattern="logs/HomeServer-%d{yyyy-MM-dd_HH}_%i.log.gz">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="1GB"/>
            </Policies>
            <!-- Max 1 file will be created everyday -->
            <DefaultRolloverStrategy max="1">
                <Delete basePath="logs" maxDepth="10">
                    <!-- Delete all files older than 7 days -->
                    <IfLastModified age="2d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <appender-ref ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>